Experimental/RINDNet/data
Experimental/RINDNet/
Experimental/Mask_RCNN/samples/coco/annotations/

# LabPicVision
Experimental/Test/LapPicVision/Data/
Experimental/Test/LapPicVision/LabPicsV1.zip
Experimental/Test/LapPicVision/Data/
Experimental/Test/LapPicVision/models/

# Media
Experimental/Media/07_31_22_Back_Thermal_Videos/

Experimental/Custom_Segmentation/src/__pycache__/

# Node modules
Web_Application/WebApp/node_modules/*