RINDNet/data
RINDNet/
Mask_RCNN/samples/coco/annotations/

# LabPicVision
Test/LapPicVision/Data/
Test/LapPicVision/LabPicsV1.zip
Test/LapPicVision/Data/
Test/LapPicVision/models/

# Media
Media/07_31_22_Back_Thermal_Videos/