numpy==1.19.5
tqdm==4.62.2
matplotlib==3.3.4
regex==2022.10.31
opencv-python==4.3.0.38
tensorflow
tensorflow-datasets
scipy
scikit-learn
scikit-image
torchvision
tensorboardX
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
typing-extensions==4.4.0